<head>
	<title>Home Screen</title>
</head>
<body>
	<h1>Welcome to Problem Based Exams Nov'2025</h1>
	
	
	<ul>
		<li><a href="{% url 'add_student' %}">Add Student</a></li>
		<li><a href="{% url 'add_department' %}">Add Department</a></li>
		<li><a href="{% url 'add_programme' %}">Add Programme</a></li>
		<li><a href="{% url 'add_course' %}">Add Course</a></li>
		<li><a href="{% url 'add_gradesheet' %}">Add Gradesheet</a></li>
		<li><a href="{% url 'grade_sheet' %}">View Grade Sheet</a></li>
		<li><a href="{% url 'ece_students' %}">View ECE Students</a></li>
	</ul>
</body>